# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
*.egg-info/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# IDE
.idea/
.vscode/
logs/MACE_run-5.log
*.txt

# Jupyter Notebook
.ipynb_checkpoints

# DS_Store
.DS_Store

# checkpoints
checkpoints/

# wandb
wandb*

# h5 data files
h5*

# SLURM
slurm_logs*

# Logs
*logs*

# Run Scripts
#run_scripts/

*.model
results*